.App {
  display: flex;
  border-top: 1px solid #d0cdcd;
    margin-top: 10px;
}
.header {
  text-align: center;
}
.list-container {
  padding: 0 8px;
  margin: 0 8px;
  border-right: 1px solid #d0cdcd;
  height: 86vh;
  
}
.list-item {
  cursor: pointer;
  font-weight: 600;
  border-bottom: 1px solid grey;
  padding: 10px 0;
}

.clickable {
  cursor: pointer;
  font-weight: 600;
  border-bottom: 1px solid grey;
  padding: 10px 0;
}

.group:not(:first-child) {
  margin-top: 12vh;
}

.active {
  color: #4ea0ff;
  border-bottom: 1px solid #4ea0ff;
}