.App {
  display: flex;
  border-top: 1px solid #d0cdcd;
}

.header {
  text-align: center;
  padding: 16px 0;
  margin: 0;
  background: black;
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.options {
  display: flex;
}

.list-container {
  padding: 0 16px;
  border-right: 1px solid #d0cdcd;
  background-color: black;
  color: white;
  height: 95vh;
}

.list-item {
  cursor: pointer;
  font-weight: 600;
  border-bottom: 1px solid grey;
  padding: 10px 0;
}

.clickable {
  
  font-weight: 600;
  border-bottom: 1px solid grey;
  padding: 10px 0;
}

.group {
  margin-left: 20px;
  cursor: pointer;
  /* border: 1px solid grey; */
  padding: 5px;
  margin-top: 10px;
}

.active {
  color: #4ea0ff;
  border-bottom: 1px solid #4ea0ff;
}